In [19]:
import gspread
import csv
from collections import defaultdict
from datetime import datetime, timedelta
import pandas as pd
# Read the CSV file into a Pandas DataFrame
data = pd.read_csv('/content/Assignment_Timecard.xlsx - Sheet1.csv')

In [48]:
Time_in = 'Time'
time_in = data[Time_in]
# Print the selected column
print(time_in)
Time_out = 'Time Out'
time_out = data[Time_out]
# Print the selected column
print(time_out)

0                       NaN
1       09/12/2023 10:08 AM
2       09/12/2023 02:23 PM
3       09/13/2023 10:08 AM
4       09/13/2023 02:50 PM
               ...
1479    09/20/2023 09:55 AM
1480    09/20/2023 03:00 PM
1481    09/21/2023 09:56 AM
1482    09/21/2023 03:00 PM
1483                    NaN
Name: Time, Length: 1484, dtype: object
0                       NaN
1       09/12/2023 01:53 PM
2       09/12/2023 07:02 PM
3       09/13/2023 02:20 PM
4       09/13/2023 08:44 PM
               ...
1479    09/20/2023 02:30 PM
1480    09/20/2023 07:29 PM
1481    09/21/2023 02:30 PM
1482    09/21/2023 07:16 PM
1483                    NaN
Name: Time Out, Length: 1484, dtype: object

In [49]:
# Calculate the time difference between "time_in" and "time_out"
data['time_in'] = pd.to_datetime(data['time_in'])
data['time_out'] = pd.to_datetime(data['time_out'])
data['work_hours'] = (data['time_out'] - data['time_in']).dt.total_seconds() / 3600  # Convert to hours

In [50]:
# Filter employees who worked more than 14 hours
employees_more_than_10_hours = data[data['work_hours'] > 14]

In [52]:
# Print the names of those employees
print(employees_more_than_10_hours['Employee Name'])

1036    DeXgadiXXE REdarMe, ChrisMiaW S
Name: Employee Name, dtype: object

In [71]:
# Convert the "time_in" and "time_out" columns to datetime objects
#data['time_in'] = pd.to_datetime(data['time_in'])
#data['time_out'] = pd.to_datetime(data['time_out'])

In [92]:
data['time_in'] = pd.to_datetime(data['time_in'], format='%m-%d-%Y %I:%M %p')
data['time_out'] = pd.to_datetime(data['time_out'], format='%m-%d-%Y %I:%M %p')
data.sort_values(['Employee Name', 'time_in'], inplace=True)
consecutive_work_days = []
previous_date = None
consecutive_count = 0
unique_employees = set()

for _, row in data.iterrows():
    current_date = row['time_in'].date()
    employee_name = row['Employee Name']

    # Check if the current date is not NaT (valid date)
    if not pd.isna(current_date):
        if current_date != previous_date:
            consecutive_count = 0  # Reset count when the date changes
            unique_employees.clear()

        # Check if the employee is unique for the current date
        if employee_name not in unique_employees:
            unique_employees.add(employee_name)
            consecutive_count += 1

        # Check if the employee worked for 7 consecutive days
        if consecutive_count ==7:
            consecutive_work_days.append(employee_name)

        previous_date = current_date

print("Employees who have worked for 7 consecutive days:")
print(consecutive_work_days)

Employees who have worked for 7 consecutive days:
[]

In [94]:
# Sort the data by employee_name and time_in
data = data.sort_values(by=['Employee Name', 'time_in'])
short_breaks = []

# Iterate through the DataFrame to find employees with short breaks
for name, group in data.groupby('Employee Name'):
    prev_time_out = None
    for index, row in group.iterrows():
        if prev_time_out is not None:
            time_diff = (row['time_in'] - prev_time_out).total_seconds() / 3600  # Calculate time difference in hours
            if 1 < time_diff < 10:
                short_breaks.append(name)
        prev_time_out = row['time_out']

# Remove duplicate names
short_breaks = list(set(short_breaks))

# Print the names of employees with short breaks
print("Employees with less than 10 hours between shifts but more than 1 hour:")
for employee in short_breaks:
    print(employee)

Employees with less than 10 hours between shifts but more than 1 hour:
MraW, WiXXiaC Ha
De Xa Cerda, IgWaciE
CaMaXaWE, CeghaW
REdrigAez, GraWdEW AWgeX
DeXgadiXXE REdarMe, ChrisMiaW S
HaCiXMEW, DeaWMe DevEW
CEreira Jr, JEse
Xee, XaCar